.card-footer {
    background-color: rgb(69, 226, 174);
}

/* .price {

    border-right: 3px solid rgb(154, 172, 0);
    height: 500px;

} */

.card-footer-package{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: brown;
    
}

