.card-footer {
    background-color: #85dcb8;
}

/* .price {

    border-right: 3px solid rgb(154, 172, 0);
    height: 500px;

} */

.card-footer-package{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: brown;
    
}

.card-package-footer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #1966c4;
}
.price-button{
    color: #05386b;
}
