/* Offers.css */

.offer-page {
  overflow-x: hidden;
  background-color: #d1eaf8;
}

.card-offer {
  transition: transform 0.3s;
}

.card-offer:hover {
  transform: scale(1.05);
  z-index: 1;
  background-color: #e8f2e1;
}

.price {
  font-weight: bold;
  color: #28b9f8;
}

.btn-primary {
  background-color: #28b9f8;
  border: none;
  &:hover {
    background-color: #1b6ca8;
  }
}
