.footer-background {
    background-color: black;
    margin-bottom: -15px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-ul {
    list-style-type: none;
}
.media-button{
    cursor: pointer;
}